[submodule "share_share_client"]
	path = share_share_client
	url = https://github.com/ngspipes2/share_share_client.git
[submodule "share_share_api"]
	path = share_share_api
	url = https://github.com/ngspipes2/share_share_api.git
[submodule "share_pipelines_server_repository"]
	path = share_pipelines_server_repository
	url = https://github.com/ngspipes2/share_pipelines_server_repository.git
[submodule "share_tools_server_repository"]
	path = share_tools_server_repository
	url = https://github.com/ngspipes2/share_tools_server_repository.git
[submodule "share_authentication_server"]
	path = share_authentication_server
	url = https://github.com/ngspipes2/share_authentication_server.git
